# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bin

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories
pkg/
aws/
fsnotify/
hashicorp/
jmespath/
magiconair/
mitchellh/
pelletier/
spf13/
subosito/
golang.org/
gopkg.in/

# Secret files not to commit
.env.*